/* Hide menu bar */
#header {
  display: none !important;
}
#titlebar {
  display: none !important;
}

/*pinned tab styling*/
.tab.pinned{
	background: repeating-linear-gradient(
		 -41.5deg,
		 var(--colorBgDark),
		 var(--colorBgDark) 5px,
		 var(--colorBgLight) 5px,
		 var(--colorBgLight)11px);
}
.tab.pinned.active{
	background: var(--colorAccentBg) !important;
    color: var(--colorFg) !important;
}
.tab.pinned{
    color: var(--colorFg) !important;
}
.tab.pinned:hover{
    color: var(--colorFg) !important;
}
.tabs-left .tab-position .tab, .tabs-right .tab-position .tab{
	margin-bottom:0px; /*margin below each tab, default is 1px*/
}

/*Tab stack indicator tweak*/
.tab-indicator{
	border-top: 0px solid transparent;
    border-bottom: 9px solid transparent;
}

.tabs-top .tab-position .tab, .tabs-bottom .tab-position .tab{
	margin-right:0px;
}
.stacks-on.tabs-right .tab.tab-group, .stacks-on.tabs-left .tab.tab-group{
	border-top: 0px solid transparent;
    background-clip: content-box;
}
.tab.active .tab-indicator.active{
	background-color: var(--colorBg);
}

/*Darker tab stack background color*/
.tab.tab-group{
	background-color:var(--colorBgDarker);
}
.tab.tab-group:hover{
	background-color:var(--colorBgDarker);
}
.tab-indicator.active{
	background-color:var(--colorBgDarker);
	border-bottom: 9px solid transparent;
}
